*html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.bagian1{
    margin-top: 15px;
    padding: 0;
}
.bagian3 .container{
    width: 100%;
    margin: 50px 50px 50px 50px;
    
box-sizing: border-box;
display: flex;



}
.bagian3 .row{
    align-items: center;
}
.bagian3 .col-4{
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border: 80px;
    box-sizing: content-box;
    border-radius: 10px;
    height: 250px;
    margin: 10px;
}